# =========================
# Dependencies
# =========================
node_modules/
**/node_modules/

# =========================
# Build folders
# =========================
build/
dist/
out/
coverage/

client/build/
server/build/

# =========================
# Environment variables
# =========================
.env
.env.*
!.env.example

# =========================
# Logs
# =========================
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDEs
# =========================
.vscode/
.idea/

# =========================
# Temporary files
# =========================
*.tmp
*.temp
*.swp
*.swo

# =========================
# Cache
# =========================
.cache/
.parcel-cache/

# =========================
# npm
# =========================
.npm/

# =========================
# Optional
# =========================
*.pid